.heading {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.module-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
  padding: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.module-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 16px;
  background-color: #f9f9f9;
  transition: box-shadow 0.3s ease-in-out;
}

.module-card:hover {
  transform: translateY(-5px);
  background-color: #e1dcdc;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.module-card h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.module-card ul {
  list-style: none;
  padding: 0;
}

.module-card li {
  margin: 8px 0;
}

.module-card a {
  text-decoration: none;
  color: #007bff;
}

.module-card a:hover {
  text-decoration: underline;
}

/* Dark Theme */
body.dark-theme .heading {
  color: #0d6efd !important;
}

body.dark-theme .module-section {
  background-color: #1f1f1f !important;
}
body.dark-theme .module-card {
  background-color: #2b2b2b;
  color: whitesmoke;
  border: 1px solid #444;
}
body.dark-theme .module-card:hover {
  background-color: #e1dcdc;
  color: #0d6efd;
  border: 1px solid #444;
}
